**/lightning_logs
**/wandb
**/UKHD_RetCLL_299_CT
**/TCGA_HIPT_256*
**/.neptune
**/.ipynb_checkpoints
**/__pycache__ 
__pycache__
*__pycache__
**/__pycache__/*
**/lightning_logs
**/attention_maps
**/pretrained_models
data/*
**/artifacts
logs
*.log
software
OE0606_data
MASTER
runs
spatialomics*
tiles
TCGA
UKHD_Neuro
metadata/*
scripts/tiling_new
spatial_medullo
